<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countdown</title>
    <!-- connected to the static css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/miris.png')}}">
    <!-- temporary for preview side right panel -->
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="section-center">
        <div class="main">
            <div class="card">
                <div class="text">
                    <h1 class="topic">Nuclear Launching in</h1>
                </div>
                <div class="timeleft">
                    <!-- Format Day -->
                    <div class="format">
                        <div>
                            <h4 class="days">Days</h4>
                            <span>days</span>
                        </div>
                    </div>
                    <!-- Format Hour -->
                    <div class="format">
                        <div>
                            <h4 class="hours">Hours</h4>
                            <span>hours</span>
                        </div>
                    </div>
                    <!-- Format Minute -->
                    <div class="format">
                        <div>
                            <h4 class="minutes">Minutes</h4>
                            <span>minutes</span>
                        </div>
                    </div>
                    <!-- Format Second -->
                    <div class="format">
                        <div>
                            <h4 class="seconds">Seconds</h4>
                            <span>seconds</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>
</html>